:root {
    --primary-color: #FF7833;
    --secondary-color: #31333B; 
    --secondary-colo-ligth: #444856; 
}

html {
    font-size: 62.5%;
}

body{
    display: flex;
    margin: 0;
    color: #e7e7e7;
    background-color: #ccc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

.main-header {
    flex: 0 0 26rem;
    background-color: var(--secondary-color);
}

.main {
    flex: 1 0;
    background-color: var(--secondary-colo-ligth);
    padding: 6.5em 6.5em 7.5rem;
}

.main-header, .main{
    font-size: 1.6rem;
}

a {
    color: inherit;
}

